body {
    background-image: url(immagini/chiaroREGISTER.png);
    height: 657px;
}
#title {
    position: absolute;
    left: 100px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 117px;
    
    margin-top: 0px;
    margin-bottom: 0px;

    color: #4F5B71;
}

#menu{
    position: absolute;
    width: 670px;
    height: 66px;
    top: 20px;
    left: 450px;

    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    outline: 1px solid  #DEDEDE;
    z-index: 1;
}
#buttonHOME{
    position: absolute;
    width: 160px;
    height: 38px;
    left: 40px;
    top: 15px;

    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white ;
    border: none;


    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}
#buttonHOME:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#buttonCHISIAMO{
    position: absolute;
    width: 160px;
    height: 38px;
    left: 250px;
    top: 15px;


    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white ;
    border: none;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}
#buttonCHISIAMO:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#buttonPRODOTTI{
    position: absolute;
    width: 160px;
    height: 38px;
    left: 470px;
    top: 15px;

    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white ;
    border: none;


    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}
#buttonPRODOTTI:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#option{
    position: absolute;
    width: 202px;
    height: 66px;
    top: 20px;
    left: 1220px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    
    outline: 1px solid white ;
    border: none;
}

#button_login{
    border: none;
    outline: none;
    background: none;
    position: absolute;
    position: absolute;
    width: 58px;
    height: 58px;
    top: 3.8px;
    left: 5.8px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    
    outline: 1px solid white ;
    border: none;
}



#button_shoppinglist{
    border: none;
    outline: none;
    background: none;
    position: absolute;
    top: 13px;
    left: 75px;
}
#button_shoppinglist:hover{
    position: absolute;
    width: 58px;
    height: 58px;
    top: 3.8px;
    left: 71.8px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    
    outline: 1px solid white ;
    border: none;
}

#button_settings{
    border: none;
    outline: none;
    background: none;
    position: absolute;
    top: 16px;
    left: 137px;

}
#button_settings:hover{
    position: absolute;
    width: 58px;
    height: 58px;
    top: 3.8px;
    left: 135.8px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    
    outline: 1px solid white ;
    border: none;
}


html{
    scroll-behavior: smooth;
    height: 729px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
  
::-webkit-scrollbar-thumb {
    background: #4F5B71;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3E5076;
    border-radius: 40px;
}

#login{
    position: absolute;
    width: 1420px;
    height: 535px;
    top: 126px;
    left: 54px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);

    border-radius: 40px;
    outline: 1px solid white ;
}
#welcome{
    position: absolute;
    left: 186px;
    top: 20px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 117px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: #4F5B71;
    width: 1059px;
}
#nome_utente_mail{
    position: absolute;
    top: 130px;
    left: 356px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #4F5B71;
}
#input_nome{
    position: absolute;
    width: 733px;
    height: 43px;
    top: 176px;
    left: 348px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    border: none;
    outline: 1px solid #DEDEDE;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #23334D;
}

#password{
    position: absolute;
    top: 213px;
    left: 356px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #4F5B71;
}

#input_password{
    position: absolute;
    width: 733px;
    height: 43px;
    top: 264px;
    left: 348px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    border: none;
    outline: 1px solid #DEDEDE;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #23334D;
}

#showpassword{
    border: none;
    outline: none;
    background: none;
    position: absolute;
    top: 278px;
    left: 1084px
}

#confirm{
    position: absolute;
    width: 195px;
    height: 38px;
    left: 608px;
    top: 337px;
    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #23334D;
}
#confirm:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#access_google{
    position: absolute;
    width: 394px;
    height: 38px;
    left: 935px;
    top: 392px;
    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #23334D;
    text-align: left;
}
#access_google:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#access_apple{
    position: absolute;
    width: 394px;
    height: 38px;
    left: 500px;
    top: 392px;
    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #23334D;
    text-align: left
}
#access_apple:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#access_facebook{
    position: absolute;
    width: 394px;
    height: 38px;
    left: 66px;
    top: 392px;
    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #23334D;
    text-align: left;
}
#access_facebook:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#logo_apple{
    position: absolute;
    top: 397px;
    left: 853px;
    width: 30px;
    height: 27.7px;
}

#logo_google{
    position: absolute;
    top: 393px;
    left: 1281px;
    width: 30px;
    height: 34.5px;
}

#logo_facebook{
    position: absolute;
    top: 397px;
    left: 414px;
    width: 30px;
    height: 30px;
}

#register_text{
    position: absolute;
    top: 568px;
    left: 356px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #4F5B71;
}

#register{
    position: absolute;
    width: 191px;
    height: 38px;
    left: 878px;
    top: 582px;
    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #23334D;
}
#register:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#passwordImage{
    position: absolute;
    top: 126px;
    left: 64px;
}

#change_language{
    position: absolute;
    width: 123px;
    height: 38px;
    top: 14px;
    left: 67px;
    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    color: #C6633A;
}

#logo_website{
    position: absolute;
    width: 326px;
    height: 91px;
    top: 11px;
    left: 60px;
}
