body {
    background-image: url(immagini/chiaro.png);
}
#title {
    position: absolute;
    left: 100px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 700px;
    font-size: 90px;
    line-height: 117px;
    
    margin-top: 0px;
    margin-bottom: 0px;

    color: #4F5B71;
}

#menu{
    position: sticky;
    width: 670px;
    height: 66px;
    top: 20px;
    left: 450px;

    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    outline: 1px solid  #DEDEDE;
    z-index: 1;
}

#buttonHOME{
    position: absolute;
    width: 160px;
    height: 38px;
    left: 40px;
    top: 15px;

    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white ;
    border: none;


    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500px;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}
#buttonHOME:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500px;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#buttonCHISIAMO{
    position: absolute;
    width: 160px;
    height: 38px;
    left: 250px;
    top: 15px;


    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white ;
    border: none;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500px;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}
#buttonCHISIAMO:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#buttonPRODOTTI{
    position: absolute;
    width: 160px;
    height: 38px;
    left: 470px;
    top: 15px;

    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500px;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}
#buttonPRODOTTI:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500px;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#option{
    position: absolute;
    width: 202px;
    height: 66px;
    top: 20px;
    left: 1220px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    
    outline: 1px solid white ;
    border: none;
}

#button_login{
    border: none;
    outline: none;
    background: none;
    position: absolute;
    top: 16px;
    left: 13px;
}
#button_login:hover{
    position: absolute;
    width: 58px;
    height: 58px;
    top: 3.8px;
    left: 5.8px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    
    outline: 1px solid white ;
    border: none;
}

#button_shoppinglist{
    border: none;
    outline: none;
    background: none;
    position: absolute;
    top: 13px;
    left: 75px;
}
#button_shoppinglist:hover{
    position: absolute;
    width: 58px;
    height: 58px;
    top: 3.8px;
    left: 71.8px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    
    outline: 1px solid white ;
    border: none;
}

#button_settings{
    border: none;
    outline: none;
    background: none;
    position: absolute;
    top: 16px;
    left: 137px;

}
#button_settings:hover{
    position: absolute;
    width: 58px;
    height: 58px;
    top: 3.8px;
    left: 135.8px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    
    outline: 1px solid white ;
    border: none;
}


html{
    scroll-behavior: smooth;
    height: 2500px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
  
::-webkit-scrollbar-thumb {
    background: #4F5B71;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3E5076;
    border-radius: 40px;
}

#end{
    position: absolute;
    width: 1526px;
    height: 141px;
    left: 0px;
    top: 2496px;
    background: #23334D;
}
#address{
    position: absolute;
    height: 30px;
    top: 8px;
    left: 71px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height:30px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #DEDEDE;
}
#phone{
    position: absolute;
    height: 40px;
    top: 35px;
    left: 71px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height:30px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #DEDEDE;
}
#mail{
    position: absolute;
    height: 30px;
    top: 73px;
    left: 71px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height:30px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #DEDEDE;
}
#go_up{
    position: absolute;
    top: 10px;
    left: 735px;
    border: none;
    outline: none;
    background: none;
    position: absolute;
    color: #DEDEDE;
}
#go_up:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
    transform: translateY(-2px);
}

#credit{
    position: absolute;
    height: 40px;
    top: 50px;
    left: 423px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height:30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #DEDEDE;
}

#logo_planet{
    position: absolute;
    bottom: 30px;
    left: 1256px;
}

#logo_star{
    position: absolute;
    bottom: 0px;
    left: 1346px;
    height: 150px;
}
#logo_star:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
}

#product{
    position: absolute;
    width: 1400px;
    height: 900px;
    top: 130px;
    left: 70px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);

    border-radius: 40px;
    outline: 1px solid white ;
}
#table{
    position: absolute;
    width: 1080px;
    height: 1170px;
    top: 1100px;
    left: 70px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);

    border-radius: 40px;
    outline: 1px solid white ;
}
#comments{
    position: absolute;
    width: 300px;
    height: 1350px;
    top: 1100px;
    left: 1180px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);

    border-radius: 40px;
    outline: 1px solid white ;
}

#info{
    position: absolute;
    width: 1080px;
    height: 150px;
    top: 2290px;
    left: 70px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);

    border-radius: 40px;
    outline: 1px solid white ;
}

#buy{
    position: absolute;
    width: 450;
    height: 800;
    top: 40;
    left: 910;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);

    border-radius: 40px;
    outline: 1px solid white ;
}

#buttonBASE{
    position: absolute;
    width: 130;
    height: 38px;
    left: 13;
    top: 30;
    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #23334D;
}
#buttonBASE.clicked,
#buttonBASE:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#buttonSTANDARD{
    position: absolute;
    width: 130px;
    height: 38px;
    left: 160px;
    top: 30px;
    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #23334D;
}
#buttonSTANDARD.clicked,
#buttonSTANDARD:hover {
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#buttonPREMIUM{
    position: absolute;
    width: 130px;
    height: 38px;
    left: 302px;
    top: 30px;
    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #23334D;
}
#buttonPREMIUM.clicked,
#buttonPREMIUM:hover {
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#design{
    position: absolute;
    top: 110px;
    left: 940px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    width: 349px;
    color: #23334D;

}

#short_desc{
    position: absolute;
    top: 160px;
    left: 920px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 26px;
    color: #4F5B71;
}

#clock{
    position: absolute;
    top: 301px;
    left: 1150px;
}

#arrows{
    position: absolute;
    top: 300px;
    left: 940px;
}

#revision{
    position: absolute;
    top: 274px;
    left: 970px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}
#time{
    position: absolute;
    top: 274px;
    left: 1180px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}
#separatore1{
    position: absolute;
    top: 320px;
    left: 910px;
    width: 450px;
    height: 60px;
}

#opz_aggiutive{
    position: absolute;
    top: 340px;
    left: 1000px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500px;
    font-size: 24px;
    line-height: 31px;
    width: 300;
    color: #23334D;
}

#separatore2{
    position: absolute;
    top: 670px;
    left: 910px;
    width: 450px;
    height: 60px;
}

#buttonBUY{
    position: absolute;
    width: 400px;
    height: 38px;
    left: 930px;
    top: 730px;
    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #23334D;
    text-align: left;
}

#buttonBUY:hover {
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500px;
    font-size: 24px;
    line-height: 31px;

    color: #23334D;
}

#img_buy{
    position: absolute;
    top: 733px;
    left: 1280px;
}

#optional{
    position: absolute;
    top: 412px;
    left: 920px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 26px;
    color: #4F5B71;
}

.option{
    padding-bottom: 10px;
}

#total{
    position: absolute;
    top: 760px;
    left: 940px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500px;
    font-size: 24px;
    line-height: 31px;
    width: 200px;
    color: #23334D;
}

#final_price{
    position: absolute;
    top: 760px;
    left: 1275px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500px;
    font-size: 24px;
    line-height: 31px;
    width: 115px;
    color: #23334D;
}

#confirm2{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    left: 380px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
}

#confirm2:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.10);
}   
#confirm3{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 35px;
    left: 380px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
}

#confirm3:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.10);
} 
#confirm4{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 71px;
    left: 380px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
}

#confirm4:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.10);
} 
#confirm5{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 106px;
    left: 380px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
}

#confirm5:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.10);
} 
#confirm6{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 143px;
    left: 380px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
}

#confirm6:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;

    transition: transform 0.2s ease-in-out;
    transform: scale(1.10);
} 
#confirm7{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 179px;
    left: 380px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
}

#confirm7:hover{
    outline: 1px solid white ;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.10);
} 

#optional .selected {
    outline: 1px solid white;
    border: none;
    background: linear-gradient(91.65deg, rgba(35, 51, 77, 0.5) 10.61%, rgba(35, 51, 77, 0.2) 100.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}

#image_left{
    position: absolute;
    top: 225px;
    left: 40px;
    border: none;
    outline: none;
    background: none;
    position: absolute;
}
#image_left:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
    transform: translateX(-2px);
}
#image_right{
    position: absolute;
    top: 225px;
    left: 843px;
    border: none;
    outline: none;
    background: none;
    position: absolute;
}
#image_right:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
    transform: translateX(2px);
}


#slide1{
    position: absolute;
    width: 750px;
    height: 400;
    top: 60px;
    left: 90px;
    border-radius: 50px;
}

#dot-container {
    position: absolute;
    top: 470px;
    left: 440px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

#description{
    position: absolute;
    top: 500;
    left: 100;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    width: 750px;
    color: #23334D;
    text-align: justify;
}

#yes{
    position: absolute;
    width: 150;
    height: 940px;
    top: 70;
    left: 500px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
}
#optionals{
    position: absolute;
    width: 150;
    height: 940px;
    top: 70;
    left: 700px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
}
#no{
    position: absolute;
    width: 150;
    height: 940px;
    top: 70;
    left: 900px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.4) 11%, rgba(255, 255, 255, 0.1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
}

#packeges{
    position: absolute;
    top: 10;
    left: 100;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    width: 750px;
    color: #23334D;
}
#base{
    position: absolute;
    top: 10;
    left: 540;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    width: 250px;
    color: #23334D;
}
#standard{
    position: absolute;
    top: 10;
    left: 710;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    width: 250px;
    color: #23334D;
}
#premium{
    position: absolute;
    top: 10;
    left: 920;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    width: 250px;
    color: #23334D;
}

#separatore3{
    position: absolute;
    top: 70;
    width: 1080;
    height: 90;
}
#separatore4{
    position: absolute;
    top: 920;
    width: 1080;
    height: 90;
}

#price{
    position: absolute;
    top: 111px;
    left: 1285px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    width: 54px;
    color: #23334D
}
#baseprice{
    position: absolute;
    top: 1020;
    left: 540;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    width: 250px;
    color: #23334D;
}
#standardprice{
    position: absolute;
    top: 1020;
    left: 750;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    width: 250px;
    color: #23334D;
}
#premiumprice{
    position: absolute;
    top: 1020;
    left: 940;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    width: 250px;
    color: #23334D;
}

#optiontext{
    position: absolute;
    top: 100;
    left: 100;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 51px;
    width: 750px;
    color: #23334D;
}

#checkyes1{
    position: absolute;
    top: 70;
    left: 60px;
}

#checkyes2{
    position: absolute;
    top: 120;
    left: 60px;
}
#checkyes3{
    position: absolute;
    top: 170;
    left: 60px;
}
#checkyes4{
    position: absolute;
    top: 220;
    left: 60px;
}
#checkyes5{
    position: absolute;
    top: 270;
    left: 60px;
}
#checkyes6{
    position: absolute;
    top: 320;
    left: 60px;
}
#checkyes7{
    position: absolute;
    top: 370;
    left: 60px;
}
#checkyes8{
    position: absolute;
    top: 420;
    left: 60px;
}
#checkyes9{
    position: absolute;
    top: 470;
    left: 60px;
}
#checkyes10{
    position: absolute;
    top: 520;
    left: 60px;
}
#checkyes11{
    position: absolute;
    top: 570;
    left: 60px;
}
#checkyes12{
    position: absolute;
    top: 620;
    left: 60px;
}
#checkyes13{
    position: absolute;
    top: 670;
    left: 60px;
}
#checkyes14{
    position: absolute;
    top: 720;
    left: 60px;
}
#checkyes15{
    position: absolute;
    top: 770;
    left: 60px;
}
#checkyes16{
    position: absolute;
    top: 820;
    left: 60px;
}

#checkno1{
    position: absolute;
    top: 70;
    left: 60px;
}

#checkno2{
    position: absolute;
    top: 120;
    left: 60px;
}
#checkno3{
    position: absolute;
    top: 170;
    left: 60px;
}
#checkno4{
    position: absolute;
    top: 220;
    left: 60px;
}
#checkno5{
    position: absolute;
    top: 270;
    left: 60px;
}
#checkno6{
    position: absolute;
    top: 320;
    left: 60px;
}
#checkno7{
    position: absolute;
    top: 370;
    left: 60px;
}
#checkno8{
    position: absolute;
    top: 420;
    left: 60px;
}
#checkno9{
    position: absolute;
    top: 470;
    left: 60px;
}
#checkno10{
    position: absolute;
    top: 520;
    left: 60px;
}
#checkno11{
    position: absolute;
    top: 570;
    left: 60px;
}
#checkno12{
    position: absolute;
    top: 620;
    left: 60px;
}
#checkno13{
    position: absolute;
    top: 670;
    left: 60px;
}
#checkno14{
    position: absolute;
    top: 720;
    left: 60px;
}
#checkno15{
    position: absolute;
    top: 770;
    left: 60px;
}
#checkno16{
    position: absolute;
    top: 820;
    left: 60px;
}

#notincluded1{
    position: absolute;
    top: 70;
    left: 60px;
}

#notincluded2{
    position: absolute;
    top: 120;
    left: 60px;
}
#notincluded3{
    position: absolute;
    top: 170;
    left: 60px;
}
#notincluded4{
    position: absolute;
    top: 220;
    left: 60px;
}
#notincluded5{
    position: absolute;
    top: 270;
    left: 60px;
}
#notincluded6{
    position: absolute;
    top: 320;
    left: 60px;
}
#notincluded7{
    position: absolute;
    top: 370;
    left: 60px;
}
#notincluded8{
    position: absolute;
    top: 420;
    left: 60px;
}
#notincluded9{
    position: absolute;
    top: 470;
    left: 60px;
}
#notincluded10{
    position: absolute;
    top: 520;
    left: 60px;
}
#notincluded11{
    position: absolute;
    top: 570;
    left: 60px;
}
#notincluded12{
    position: absolute;
    top: 620;
    left: 60px;
}
#notincluded13{
    position: absolute;
    top: 670;
    left: 60px;
}
#notincluded14{
    position: absolute;
    top: 720;
    left: 60px;
}
#notincluded15{
    position: absolute;
    top: 770;
    left: 60px;
}
#notincluded16{
    position: absolute;
    top: 820;
    left: 60px;
}

#checkyes0{
    position: absolute;
    top: 1112px;
    left: 280px;
}

#checkno0{
    position: absolute;
    top: 1112px;
    left: 679px;
}

#notincluded0{
    position: absolute;
    top: 1112px;
    left: 404px;
}

#optional0{
    position: absolute;
    top: 1087px;
    left: 436px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}

#yes0{
    position: absolute;
    top: 1087px;
    left: 305px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}

#no0{
    position: absolute;
    top: 1087px;
    left: 703px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}

#infotext{
    position: absolute;
    top: 15px;
    left: 58px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    width: 935px;
    color: #23334D;
}

#questionmark{
    position: absolute;
    top: 40px;
    left: 424px;
}

#messages{
    position: absolute;
    top: 56px;
    left: 1005px;
}

#recensioni{
    position: absolute;
    top: -16px;
    left: 14px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    width: 270px;
    color: #23334D;
    text-align: center;
}

#username1{
    position: absolute;
    top: 20px;
    left: 59px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}

#usernametext1{
    position: absolute;
    top: 67px;
    left: 20;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 280;
    color: #4F5B71;
}

#usernameimg1{
    position: absolute;
    top: 41px;
    left: 17px;
}

#username2{
    position: absolute;
    top: 165px;
    left: 59px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}

#usernametext2{
    position: absolute;
    top: 209px;
    left: 20;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 280;
    color: #4F5B71;
}

#usernameimg2{
    position: absolute;
    top: 186px;
    left: 17px;
}

#username3{
    position: absolute;
    top: 360px;
    left: 59px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}

#usernametext3{
    position: absolute;
    top: 402px;
    left: 20;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 280;
    color: #4F5B71;
}

#usernameimg3{
    position: absolute;
    top: 378px;
    left: 17px;
}

#username4{
    position: absolute;
    top: 472px;
    left: 59px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}

#usernametext4{
    position: absolute;
    top: 517px;
    left: 20;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 280;
    color: #4F5B71;
}

#usernameimg4{
    position: absolute;
    top: 490px;
    left: 17px;
}

#username5{
    position: absolute;
    top: 711px;
    left: 59px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}

#usernametext5{
    position: absolute;
    top: 746px;
    left: 20;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 280;
    color: #4F5B71;
}

#usernameimg5{
    position: absolute;
    top: 731px;
    left: 17px;
}

#username6{
    position: absolute;
    top: 826px;
    left: 59px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}

#usernametext6{
    position: absolute;
    top: 861px;
    left: 20;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 280;
    color: #4F5B71;
}

#usernameimg6{
    position: absolute;
    top: 846px;
    left: 17px;
}

#username7{
    position: absolute;
    top: 927px;
    left: 59px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}

#usernametext7{
    position: absolute;
    top: 969px;
    left: 20;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 280;
    color: #4F5B71;
}

#usernameimg7{
    position: absolute;
    top: 947px;
    left: 17px;
}

#username8{
    position: absolute;
    top: 1154px;
    left: 59px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}

#usernametext8{
    position: absolute;
    top: 1192px;
    left: 20;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 280;
    color: #4F5B71;
}

#usernameimg8{
    position: absolute;
    top: 1172px;
    left: 17px;
}

#change_language{
    position: absolute;
    width: 123px;
    height: 38px;
    top: 14px;
    left: 67px;
    background: linear-gradient(90.86deg, rgba(255, 255, 255, 0.4) 10.67%, rgba(255, 255, 255, 0.1) 87.84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    outline: 1px solid white;
    border: none;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    color: #C6633A;
}

#image img {
    opacity: 0;
    transition: opacity 0.5s ease; /* Add transition for opacity */
}

#image img.active {
    opacity: 1;
}

#logo_website{
    position: absolute;
    width: 326px;
    height: 91px;
    top: 11px;
    left: 60px;
}

#time_num{
    position: absolute;
    top: 275px;
    left: 1267px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}

#rev_num{
    position: absolute;
    top: 275px;
    left: 1106px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 31px;
    color: #23334D;
}

#additional_price1{
    position: absolute;
    top: 168px;
    left: 30px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 56px;
    color: #4F5B71;
}

#additional_price2{
    position: absolute;
    top: 270px;
    left: 30px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 56px;
    color: #4F5B71;
}

#additional_price3{
    position: absolute;
    top: 321px;
    left: 30px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 56px;
    color: #4F5B71;
}

#additional_price4{
    position: absolute;
    top: 576px;
    left: 30px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 56px;
    color: #4F5B71;
}

#additional_price5{
    position: absolute;
    top: 730px;
    left: 30px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 56px;
    color: #4F5B71;
}

#additional_price6{
    position: absolute;
    top: 883px;
    left: 30px;
    font-family: 'IBM Plex Mono medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 56px;
    color: #4F5B71;
}